# The following disables the display of a file
# index of a folder if there is no index found
# such as index.html, index.php, etc...

Options -Indexes

# If you wish to change a PHP Setting you need
# to do it here and it will affect the folder
# that this file is located in as well as all
# sub-folders unless the sub-folder has it's
# own .htaccess
#
# As an example to turn the PHP Setting
# "magic_quotes_gpc" on you would uncomment
# the following line:
# php_flag magic_quotes_gpc on
#
# To set a value that is not on/off you need
# to use the php_value setting in the following
# format:
# php_value setting_to_change = value
#
# If you have any questions please contact
# support at support@mddhosting.com

Header add Access-Control-Allow-Origin "*"
Header add Access-Control-Allow-Headers "origin, x-requested-with, content-type"
Header add Access-Control-Allow-Methods "PUT, GET, POST, DELETE, OPTIONS"

 # Audio
    AddType audio/mp4                                   m4a f4a f4b
    AddType audio/ogg                                   oga ogg

  # JavaScript
    # Normalize to standard type (it's sniffed in IE anyways):
    # http://tools.ietf.org/html/rfc4329#section-7.2
    AddType application/javascript                      js jsonp
    AddType application/json                            json

  # Video
    AddType video/mp4                                   mp4 m4v f4v f4p
    AddType video/ogg                                   ogv
    AddType video/webm                                  webm
    AddType video/x-flv                                 flv

  # Web fonts
    AddType application/font-woff                       woff
    AddType application/vnd.ms-fontobject               eot

    # Browsers usually ignore the font MIME types and sniff the content,
    # however, Chrome shows a warning if other MIME types are used for the
    # following fonts.
    AddType application/x-font-ttf                      ttc ttf
    AddType font/opentype                               otf

    # Make SVGZ fonts work on iPad:
    # https://twitter.com/FontSquirrel/status/14855840545
    AddType     image/svg+xml                           svg svgz
    AddEncoding gzip                                    svgz
